<?xml version="1.0" ?>
<robot name="(unsaved)" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find (unsaved)_description)/urdf/materials.xacro" />
<xacro:include filename="$(find (unsaved)_description)/urdf/(unsaved).trans" />
<link name="base_link">
  <inertial>
    <origin xyz="-2.3360768127441407 1.5964247131347655 3.179237060546875" rpy="0 0 0"/>
    <mass value="78845.01612018594"/>
    <inertia ixx="117926.916342" iyy="224258.601452" izz="255893.936865" ixy="-214.81795" iyz="80.63054" ixz="-7183.372273"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(unsaved)_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(unsaved)_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
